* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
body .wrapper {
  position: relative;
}
body .wrapper .background {
  z-index: -1;
  position: absolute;
  display: block;
  width: 100%;
  top: 0px;
}
body .wrapper .background img {
  width: 100%;
  max-height: 950px;
  filter: brightness(50%);
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  padding: 21px 0px;
  opacity: 0.8;
  background-color: black;
}
.container > div {
  height: auto;
}
.logo > a > img {
  max-width: 200px;
  height: auto;
}
.container > :nth-child(3) {
  margin: 0;
  padding: 0;
}
.container > :nth-child(2) {
  margin: 0;
  padding: 0;
}
.list li a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  font-size: 16px;
}
.list li a:hover {
  color: #FFFFFF;
}
.list li ul.submenu li:hover > a {
  color: #a10505;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
}
.user li {
  margin: 0 28px;
  display: inline-block;
}
.user li a {
  text-decoration: none;
  color: white;
}
.user li:last-child {
  margin-right: 0;
}
.list li {
  position: relative;
}
.list ul .nav-item {
  margin: 0 28px;
  display: inline-block;
}
.list ul.submenu {
  position: absolute;
  background-color: black;
  padding: 15px 0;
  width: 200px;
  border: 1px solid #4a4747;
  display: none;
  z-index: 1;
}
.list li:hover > ul.submenu {
  display: block;
}
.list ul.submenu a {
  padding: 8px 15px;
  border-bottom: 1px solid #333;
  left: 0;
}
.list ul.submenu li:hover > a {
  border-bottom: 1px solid #686666;
}
.list ul.submenu li:last-child a {
  border-bottom: none;
}
.list ul.submenu ul.submenu {
  left: 200px;
  top: -1px;
}
.user li.nav-item {
  position: relative;
}
.user ul.submenu {
  position: absolute;
  background-color: black;
  padding: 15px 0;
  width: 100px;
  border: 1px solid #4a4747;
  display: none;
  z-index: 1;
}
.user ul.submenu li {
  margin: 0;
  padding: 8px 15px;
}
.user ul.submenu li a {
  border-bottom: 1px solid #333;
}
.user ul.submenu li:hover > a {
  color: #a10505;
}
.user li:hover > ul.submenu {
  display: block;
}
footer {
  grid-column: span 12;
}
main {
  margin: 0 auto;
  max-width: 1170px;
  line-height: 1.15;
  color: black;
  padding-top: 600px;
}
main .headline {
  margin: 40px 0;
  text-align: center;
}
main .headline h3 {
  font-size: 18px;
  color: #111;
  padding: 10px 20px;
  border: 1px solid #bebebe;
  display: inline-block;
  font-weight: 600;
}
main ul.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main ul.products li:hover .product-item .product-top a.product-cart {
  opacity: 1;
}
main ul.products li:hover .product-item .product-top a.product-show {
  opacity: 1;
}
main ul.products li:hover .product-item .product-top a.product-heart {
  opacity: 1;
}
main ul.products li:hover .product-item .product-top a.product-repeat {
  opacity: 1;
}
main ul.products li:hover .product-item .product-top .product-thump img {
  filter: opacity(80%);
}
main ul.products li:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
main ul.products li {
  flex-basis: 25%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin-bottom: 30px;
  transition: box-shadow 0.3s;
}
main ul.products li .product-top {
  position: relative;
  overflow: hidden;
}
main ul.products li .product-top .product-thump {
  display: block;
}
main ul.products li .product-top .product-thump img {
  display: block;
}
main ul.products li .product-top a.product-cart:hover {
  background-color: red;
  color: white;
}
main ul.products li .product-top a.product-show:hover {
  background-color: red;
  color: white;
}
main ul.products li .product-top a.product-heart:hover {
  background-color: red;
  color: white;
}
main ul.products li .product-top a.product-repeat:hover {
  background-color: red;
  color: white;
}
main ul.products li .product-top a.product-cart {
  display: inline-block;
  padding: 8px;
  border: 1px solid #bebebe;
  color: #9c9c9c;
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0;
  transition: all 500ms ease-in-out;
}
main ul.products li .product-top a.product-show {
  display: inline-block;
  padding: 8px;
  border: 1px solid #bebebe;
  color: #9c9c9c;
  position: absolute;
  top: 55px;
  right: 5px;
  opacity: 0;
  transition: all 500ms ease-in-out;
}
main ul.products li .product-top a.product-heart {
  display: inline-block;
  padding: 8px;
  border: 1px solid #bebebe;
  color: #9c9c9c;
  position: absolute;
  top: 105px;
  right: 5px;
  opacity: 0;
  transition: all 500ms ease-in-out;
}
main ul.products li .product-top a.product-repeat {
  display: inline-block;
  padding: 8px;
  border: 1px solid #bebebe;
  color: #9c9c9c;
  position: absolute;
  top: 155px;
  right: 5px;
  opacity: 0;
  transition: all 500ms ease-in-out;
}
main ul.products li .product-bottom {
  padding: 10px 0;
}
main ul.products li .product-bottom a {
  display: block;
}
main ul.products li .product-bottom .product-cat {
  font-size: 11px;
  text-transform: uppercase;
  color: #9c9c9c;
  padding: 5px 10px;
}
main ul.products li .product-bottom .product-name {
  color: #111;
  font-weight: 500;
  padding: 3px 10px;
}
main ul.products li .product-bottom .product-price {
  color: #111;
  font-weight: 700;
  padding: 0 10px;
}
main ul.products img {
  max-width: 200px;
  height: 190px;
}
main .headline-bottom {
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: center;
}
main .headline-bottom h2 {
  font-size: 36px;
  color: #111;
  padding: 10px 20px;
  border: 1px solid none;
  display: inline-block;
  font-weight: bold;
}
main .slick-slider .one-time .slider1 {
  text-align: center;
}
main .slick-slider .one-time .slider1 .image-slider {
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  overflow: hidden;
  border-radius: 50%;
}
main .slick-slider .one-time .slider1 .image-slider img {
  width: auto;
  height: 100%;
  margin-left: -60px;
  margin-right: -74px;
  margin-bottom: -64px;
}
main .slick-slider .one-time .slider1 .text1 {
  font-size: 18px;
  color: #777777;
  margin: 30px 0;
}
main .slick-slider .one-time .slider1 .text2 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
}
main .slick-slider .one-time .slider1 .text3 {
  font-size: 14px;
  color: #777777;
}
main .bottom {
  border-top: 1px solid #c8c7c7;
  margin-top: 100px;
  display: flex;
  height: 150px;
  align-items: center;
}
main .bottom .container-bottom {
  max-width: 1170px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}
main .bottom .container-bottom .row {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .bottom .container-bottom .row .item1 {
  flex-basis: 16.66%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
section {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  top: 150px;
}
section .slider {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
section .slider .slide-img img {
  width: auto;
  max-height: 750px;
}
section .slider .slide-text {
  color: white;
  max-width: 540px;
  padding: 100px 0;
}
section .slider .slide-text h3 {
  font-size: 60px;
}
section .slider .slide-text h4 {
  font-size: 40px;
}
section .slider .slide-text p {
  padding-top: 30px;
  font-size: 14px;
  line-height: 1.6;
  padding-bottom: 50px;
}
section .slider .slide-text button {
  padding: 20px 60px;
  font-size: 14px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
section .slider .slide-text button:active {
  transform: scale(0.98);
}
section .slider-bottom {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
  width: 100%;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 624px;
  background-color: white;
}
section .slider-bottom .sub-slider {
  flex-basis: 33.33%;
  height: 260px;
  box-sizing: border-box;
}
section .slider-bottom .sub-slider .img {
  max-width: 100%;
  height: 100%;
}
section .slider-bottom .sub-slider .sub-slider2 {
  text-align: center;
}
section .slider-bottom .sub-slider .sub-slider2 .icon {
  max-width: 100%;
  height: auto;
  padding: 30px 0;
}
section .slider-bottom .sub-slider .sub-slider2 h5 {
  padding: 5px 0;
  font-size: 18px;
  font-weight: 800;
}
section .slider-bottom .sub-slider .sub-slider2 p {
  font-size: 14px;
  padding: 20px;
  color: #777777;
}
.wrapper-login {
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-login #tbform {
  box-shadow: 0px 0px 8px 2px rgba(255, 254, 254, 0.8);
  max-width: 800px;
  background: rgba(0, 0, 0, 0.8);
  flex-grow: 1;
  padding: 15px 15px 20px;
}
.wrapper-login #tbform h2 {
  font-size: 40px;
  color: white;
  padding: 15px 0;
}
.wrapper-login #tbform p {
  color: white;
  font-size: 20px;
  padding: 15px 0;
}
.wrapper-login #loginform {
  box-shadow: 0px 0px 8px 2px rgba(255, 254, 254, 0.8);
  max-width: 400px;
  background: rgba(0, 0, 0, 0.8);
  flex-grow: 1;
  padding: 30px 30px 40px;
}
.wrapper-login #loginform .sub-control .sub {
  margin: 5px 0;
}
.wrapper-login #loginform .sub-control .sub a {
  color: white;
}
.wrapper-login #loginform .sub-control .sub a:hover {
  color: #54a0ff;
}
.wrapper-login #loginform h1 {
  text-align: center;
  color: white;
  font-size: 40px;
  margin-bottom: 30px;
}
.wrapper-login #loginform .form-group {
  border-bottom: 1px solid #777777;
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
}
.wrapper-login #loginform .form-group .form-input {
  flex-grow: 1;
  color: white;
  font-size: 20px;
  background: transparent;
  border: 0;
  outline: 0;
}
.wrapper-login #loginform .form-group i {
  color: white ;
  font-size: 14px;
  padding-top: 5px;
  padding-right: 10px;
}
.wrapper-login #loginform .form-group .eye i {
  padding-right: 0;
}
.wrapper-login #loginform .form-submit {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 15px 20px;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 30px;
}
.wrapper-login #loginform .form-submit:hover {
  border: 1px solid #54a0ff;
  color: #54a0ff;
}
.wrapper-signup {
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-signup #signupform {
  box-shadow: 0px 0px 8px 2px rgba(255, 254, 254, 0.8);
  max-width: 400px;
  background: rgba(0, 0, 0, 0.8);
  flex-grow: 1;
  padding: 30px 30px 40px;
}
.wrapper-signup #signupform .sub-control .sub {
  margin: 5px 0;
}
.wrapper-signup #signupform .sub-control .sub a {
  color: white;
}
.wrapper-signup #signupform .sub-control .sub a:hover {
  color: #54a0ff;
}
.wrapper-signup #signupform h1 {
  text-align: center;
  color: white;
  font-size: 40px;
  margin-bottom: 30px;
}
.wrapper-signup #signupform .form-group {
  border-bottom: 1px solid #777777;
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
}
.wrapper-signup #signupform .form-group .form-input {
  flex-grow: 1;
  color: white;
  font-size: 20px;
  background: transparent;
  border: 0;
  outline: 0;
}
.wrapper-signup #signupform .form-group i {
  color: white ;
  font-size: 14px;
  padding-top: 5px;
  padding-right: 10px;
}
.wrapper-signup #signupform .form-group .eye i {
  padding-right: 0;
}
.wrapper-signup #signupform .form-submit {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 15px 20px;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 30px;
}
.wrapper-signup #signupform .form-submit:hover {
  border: 1px solid #54a0ff;
  color: #54a0ff;
}
footer {
  background-color: #212121;
  height: auto;
}
footer .container-footer {
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
footer .container-footer .footer-top {
  border-bottom: 0.5px solid #777777;
  max-height: 350px;
  text-align: center;
}
footer .container-footer .footer-top img {
  padding-top: 100px;
  padding-bottom: 15px;
}
footer .container-footer .footer-top p {
  color: #777777;
  max-width: 770px;
  margin: 0 auto;
  padding: 15px 0;
  line-height: 1.75;
}
footer .container-footer .footer-top ul {
  padding-top: 15px;
  padding-bottom: 63px;
}
footer .container-footer .footer-top ul li {
  display: inline-block;
  padding: 0 20px;
}
footer .container-footer .footer-top ul li a {
  color: #777777;
}
footer .container-footer .footer-top ul li a i {
  font-size: 18px;
}
footer .container-footer .footer-top ul li a:hover {
  color: #aba8a8;
}
footer .container-footer .footer-bottom {
  max-height: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container-footer .footer-bottom .footer-field {
  flex-basis: 25%;
  padding: 17.4px 15px;
  box-sizing: border-box;
}
footer .container-footer .footer-bottom .footer-field h1 {
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 0;
}
footer .container-footer .footer-bottom .footer-field ul {
  padding: 15px 0;
}
footer .container-footer .footer-bottom .footer-field ul li {
  display: block;
  padding: 10px 0;
}
footer .container-footer .footer-bottom .footer-field ul li a {
  color: #777777;
  display: inline-block;
}
footer .container-footer .footer-bottom .footer-field ul li a:hover {
  color: #aba8a8;
}
footer .copyright {
  max-height: 50px;
  text-align: center;
  background-color: #111111;
}
footer .copyright p {
  color: #777777;
  padding: 16.6px 0;
}
@media all and (max-width: 1170px) {
  .slider-content-inner {
    margin-left: 100px;
  }
  .slider-content-inner .slide-title {
    font-size: 60px;
  }
  .banner-left img {
    width: 100%;
  }
}
@media all and (max-width: 1024px) {
  .header .logo-mobile {
    display: block;
  }
  .header-top-inner .web-info-button {
    margin: 0;
  }
  .header-top-inner .web-info-button .info-content {
    display: none;
  }
  .header-bottom-inner .logo {
    display: none;
  }
  .header-bottom-inner .form-control {
    width: 100%;
  }
  .header-bottom-inner .form-control .search {
    width: 100%;
    order: 2;
  }
  .header-bottom-inner .form-control .setting {
    order: 1;
    margin-left: 0;
    margin-right: 19px;
  }
  .header-bottom-inner .form-control .cart {
    order: 3;
  }
  .menu-bar-inner nav .nav-icon {
    display: block;
  }
  .menu-bar-inner nav .navbar {
    transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transform: translateX(110%);
    -webkit-transform: translateX(110%);
    -moz-transform: translateX(110%);
    -ms-transform: translateX(110%);
    -o-transform: translateX(110%);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    height: 100vh;
    width: 40vw;
    background-color: #fff;
    -webkit-box-shadow: -8px -7px 6px -2px #bbbbbb;
    -moz-box-shadow: -8px -7px 6px -2px #bbbbbb;
    box-shadow: -8px -7px 6px -2px #bbbbbb;
  }
  .menu-bar-inner nav .navbar .nav-title {
    display: block;
  }
  .menu-bar-inner nav .navbar .nav-item {
    display: block;
    margin: 0;
    padding: 10px 15px;
    border-bottom: 1px solid #bbb;
  }
  .menu-bar-inner nav .navbar .nav-item a {
    color: #0ca8c9;
  }
  .menu-bar-inner nav .active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .slider-content-inner {
    width: 66.6667%;
  }
  .slider-content-inner .slide-title {
    font-size: 50px;
    line-height: 60px;
  }
  .slider-content-inner .slide-summary {
    margin-bottom: 35px;
  }
  .strength {
    height: auto;
  }
  .strength-item {
    width: 50%;
  }
  .banner .title {
    font-size: 20px;
  }
  .banner .summary {
    font-size: 16px;
  }
  .banner-left-detail {
    bottom: 25px;
  }
  .banner-left-detail .banner-countdown span {
    font-size: 18px;
    margin-bottom: -15px;
  }
  .banner-left-detail .banner-countdown .times {
    width: 50px;
    height: 52px;
  }
  .banner-right-content {
    left: 15px;
  }
  .banner-right-content .sale-number {
    font-size: 50px;
  }
}
@media all and (max-width: 768px) {
  .menu-bar-inner nav .navbar {
    width: 50vw;
  }
  .slider-content-inner {
    margin-left: 0px;
  }
  .slider-content-inner .slide-title {
    font-size: 38px;
    line-height: 45px;
  }
  .slider-content-inner .slide-summary {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .banner-left {
    width: 100%;
  }
  .banner-left-detail .banner-countdown .times {
    width: 60px;
    height: 62px;
  }
  .banner-right {
    width: 100%;
    margin: 0;
  }
  .banner-right .banner-col {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
  }
  .banner-right-item {
    width: 50%;
    padding: 0 15px;
    margin: 15px 0;
    box-sizing: border-box;
  }
  .banner-right-content {
    left: 30px;
  }
}
@media all and (max-width: 576px) {
  .header-bottom-inner .form-control .search form .search-sl {
    display: none;
  }
  .menu-bar-inner nav .navbar {
    width: 70vw;
  }
  .slider-content {
    top: 15%;
  }
  .slider-content-inner {
    margin-left: 0px;
  }
  .slider-content-inner .slide-title {
    font-size: 23px;
    line-height: 28px;
  }
  .slider-content-inner .slide-summary {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .slider-content-inner .slide-btn {
    font-size: 12px;
  }
  .strength-item {
    width: 100%;
  }
  .banner-left-detail .banner-countdown .times {
    width: 50px;
    height: 52px;
  }
  .banner-right-item {
    width: 100%;
  }
}
@media all and (max-width: 420px) {
  .header-top .sl-language.in-active {
    display: none;
  }
}
