* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
body .wrapper {
  position: relative;
}
body .wrapper .background {
  z-index: -1;
  position: absolute;
  display: block;
  width: 100%;
  top: 0px;
}
body .wrapper .background img {
  width: 100%;
  max-height: 950px;
  filter: brightness(50%);
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  opacity: 0.8;
  background-color: black;
}
.container > div {
  width: 270px;
  height: auto;
}
.logo {
  padding: 21px 0px;
}
.logo > a > img {
  max-width: 200px;
  height: auto;
}
.container > :nth-child(3) {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}
.container > :nth-child(2) {
  flex-grow: 1;
  display: flex;
  margin: 0;
  padding: 0;
}
.list li a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding: 38px 28px;
  font-size: 16px;
}
.list li a:hover {
  color: #FFFFFF;
}
.list li ul.submenu li:hover > a {
  color: #a10505;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
}
.user li a {
  text-decoration: none;
  color: white;
  display: block;
  margin-left: 54px;
}
.list li {
  position: relative;
}
.list ul.submenu {
  position: absolute;
  background-color: black;
  padding: 15px 0;
  width: 200px;
  border: 1px solid #4a4747;
  display: none;
  z-index: 1;
}
.list li:hover > ul.submenu {
  display: block;
}
.list ul.submenu a {
  padding: 8px 15px;
  border-bottom: 1px solid #333;
  left: 0;
}
.list ul.submenu li:hover > a {
  border-bottom: 1px solid #686666;
}
.list ul.submenu li:last-child a {
  border-bottom: none;
}
.list ul.submenu ul.submenu {
  left: 200px;
  top: -1px;
}
footer {
  grid-column: span 12;
}
main {
  margin: 0 auto;
  max-width: 1170px;
  line-height: 1.15;
  color: black;
  padding-top: 600px;
}
main .headline {
  margin: 40px 0;
  text-align: center;
}
main .headline h3 {
  font-size: 18px;
  color: #111;
  padding: 10px 20px;
  border: 1px solid #bebebe;
  display: inline-block;
  font-weight: 600;
}
main ul.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main ul.products li:hover .product-item .product-top a.product-cart {
  opacity: 1;
}
main ul.products li:hover .product-item .product-top a.product-show {
  opacity: 1;
}
main ul.products li:hover .product-item .product-top a.product-heart {
  opacity: 1;
}
main ul.products li:hover .product-item .product-top a.product-repeat {
  opacity: 1;
}
main ul.products li:hover .product-item .product-top .product-thump img {
  filter: opacity(80%);
}
main ul.products li:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
main ul.products li {
  flex-basis: 25%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin-bottom: 30px;
  transition: box-shadow 0.3s;
}
main ul.products li .product-top {
  position: relative;
  overflow: hidden;
}
main ul.products li .product-top .product-thump {
  display: block;
}
main ul.products li .product-top .product-thump img {
  display: block;
}
main ul.products li .product-top a.product-cart:hover {
  background-color: red;
  color: white;
}
main ul.products li .product-top a.product-show:hover {
  background-color: red;
  color: white;
}
main ul.products li .product-top a.product-heart:hover {
  background-color: red;
  color: white;
}
main ul.products li .product-top a.product-repeat:hover {
  background-color: red;
  color: white;
}
main ul.products li .product-top a.product-cart {
  display: inline-block;
  padding: 8px;
  border: 1px solid #bebebe;
  color: #9c9c9c;
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0;
  transition: all 500ms ease-in-out;
}
main ul.products li .product-top a.product-show {
  display: inline-block;
  padding: 8px;
  border: 1px solid #bebebe;
  color: #9c9c9c;
  position: absolute;
  top: 55px;
  right: 5px;
  opacity: 0;
  transition: all 500ms ease-in-out;
}
main ul.products li .product-top a.product-heart {
  display: inline-block;
  padding: 8px;
  border: 1px solid #bebebe;
  color: #9c9c9c;
  position: absolute;
  top: 105px;
  right: 5px;
  opacity: 0;
  transition: all 500ms ease-in-out;
}
main ul.products li .product-top a.product-repeat {
  display: inline-block;
  padding: 8px;
  border: 1px solid #bebebe;
  color: #9c9c9c;
  position: absolute;
  top: 155px;
  right: 5px;
  opacity: 0;
  transition: all 500ms ease-in-out;
}
main ul.products li .product-bottom {
  padding: 10px 0;
}
main ul.products li .product-bottom a {
  display: block;
}
main ul.products li .product-bottom .product-cat {
  font-size: 11px;
  text-transform: uppercase;
  color: #9c9c9c;
  padding: 5px 10px;
}
main ul.products li .product-bottom .product-name {
  color: #111;
  font-weight: 500;
  padding: 3px 10px;
}
main ul.products li .product-bottom .product-price {
  color: #111;
  font-weight: 700;
  padding: 0 10px;
}
main ul.products img {
  max-width: 200px;
  height: 190px;
}
section {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  top: 150px;
}
section .slider {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
section .slider .slide-img img {
  width: auto;
  max-height: 750px;
}
section .slider .slide-text {
  color: white;
  max-width: 540px;
  padding: 100px 0;
}
section .slider .slide-text h3 {
  font-size: 60px;
}
section .slider .slide-text h4 {
  font-size: 40px;
}
section .slider .slide-text p {
  padding-top: 30px;
  font-size: 14px;
  line-height: 1.6;
  padding-bottom: 50px;
}
section .slider .slide-text button {
  padding: 20px 60px;
  font-size: 14px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
section .slider .slide-text button:active {
  transform: scale(0.98);
}
section .slider-bottom {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
  width: 100%;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 624px;
  background-color: white;
}
section .slider-bottom .sub-slider {
  flex-basis: 33.33%;
  height: 260px;
  box-sizing: border-box;
}
section .slider-bottom .sub-slider .img {
  max-width: 100%;
  height: auto;
}
section .slider-bottom .sub-slider .sub-slider2 {
  text-align: center;
}
section .slider-bottom .sub-slider .sub-slider2 .icon {
  max-width: 100%;
  height: auto;
  padding: 30px 0;
}
section .slider-bottom .sub-slider .sub-slider2 h5 {
  padding: 5px 0;
  font-size: 18px;
  font-weight: 800;
}
section .slider-bottom .sub-slider .sub-slider2 p {
  font-size: 14px;
  padding: 20px;
  color: #777777;
}
