main{
    margin: 0 auto;
    max-width: 1170px;
    line-height: 1.15;
    color: black;
    padding-top: 600px;
    .headline{
        margin:40px 0;
        text-align: center;
        h3{
            font-size: 18px;
            color: #111;
            padding: 10px 20px;
            border: 1px solid #bebebe;
            display: inline-block;
            font-weight: 600;
        }
    }
    ul.products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li:hover{
            .product-item{
                .product-top{
                    a.product-cart{
                        opacity: 1.0;
                    }
                    a.product-show{
                        opacity: 1.0;
                    }
                    a.product-heart{
                        opacity: 1.0;
                    }
                    a.product-repeat{
                        opacity: 1.0;
                    }
                    .product-thump{
                        img{
                            filter: opacity(80%);
                        }
                    }
                }
            }
        }

        li:hover{
            box-shadow: 0 0 11px rgba(33,33,33,.2); 
        }
        
        li{
            flex-basis: 25%;
            padding-left: 15px;
            padding-right: 15px;
            box-sizing: border-box;
            margin-bottom: 30px;
            transition: box-shadow .3s;

            .product-top{
                position: relative;
                overflow: hidden;
                .product-thump{
                    display: block;
                    img{
                        display: block;
                    }
                }
                a.product-cart:hover{
                    background-color: red;
                    color: white;
                }
                a.product-show:hover{
                    background-color: red;
                    color: white;
                }
                a.product-heart:hover{
                    background-color: red;
                    color: white;
                }
                a.product-repeat:hover{
                    background-color: red;
                    color: white;
                }
                a.product-cart{
                    display: inline-block;
                    padding: 8px;
                    border: 1px solid #bebebe;
                    color:#9c9c9c;
                    position: absolute;
                    top:5px;
                    right:5px;
                    opacity: 0.0;
                    transition: all 500ms ease-in-out;;
                }
                a.product-show{
                    display: inline-block;
                    padding: 8px;
                    border: 1px solid #bebebe;
                    color:#9c9c9c;
                    position: absolute;
                    top:55px;
                    right:5px;
                    opacity: 0.0;
                    transition: all 500ms ease-in-out;;
                }
                a.product-heart{
                    display: inline-block;
                    padding: 8px;
                    border: 1px solid #bebebe;
                    color:#9c9c9c;
                    position: absolute;
                    top:105px;
                    right:5px;
                    opacity: 0.0;
                    transition: all 500ms ease-in-out;;
                }
                a.product-repeat{
                    display: inline-block;
                    padding: 8px;
                    border: 1px solid #bebebe;
                    color:#9c9c9c;
                    position: absolute;
                    top:155px;
                    right:5px;
                    opacity: 0.0;
                    transition: all 500ms ease-in-out;;
                }
            }

            .product-bottom{
                padding: 10px 0;
                a{
                    display: block;
                }
                .product-cat{
                    font-size: 11px;
                    text-transform: uppercase;
                    color:#9c9c9c;
                    padding: 5px 10px;
                }
                .product-name{
                    color: #111;
                    font-weight: 500;
                    padding: 3px 10px;
                }
                .product-price{
                    color: #111;
                    font-weight: 700;
                    padding: 0 10px;
                }
            }
        }
        img{
            max-width: 200px;
            height: 190px;
        }
        
    }

    .headline-bottom{
        margin-top: 80px;
        margin-bottom: 40px;
        text-align: center;
        h2{
            font-size: 36px;
            color: #111;
            padding: 10px 20px;
            border: 1px solid none;
            display: inline-block;
            font-weight: bold;
        }
    }
    .slick-slider{
        .one-time{
            .slider1{
                .image-slider{
                    display: inline-block;
                    position: relative;
                    width: auto;
                    height: auto;
                    overflow: hidden;
                    border-radius: 50%;
                    img{
                        width: auto; 
                        height: 100%; 
                        margin-left: -60px;
                        margin-right: -74px;
                        margin-bottom: -64px;
                    }
                }
                text-align: center;
                .text1{
                    font-size: 18px;
                    color:#777777;
                    margin: 30px 0;
                }
                .text2{
                    font-size: 18px;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
                .text3{
                    font-size: 14px;
                    color: #777777;
                }
            }
        }
    }
    .bottom{
        border-top: 1px solid #c8c7c7;
        margin-top: 100px;
        display: flex;
        height: 150px;
        align-items: center;
        .container-bottom{
            max-width: 1170px;
            width: 100%;
            margin: auto;
            box-sizing: border-box;
            .row{
                text-align: center;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .item1{
                    flex-basis: 16.66%;
                    padding-left: 15px;
                    padding-right: 15px;
                    box-sizing: border-box;
                }
            }
        }
    }
}